<!DOCTYPE html>
<html>
    <head>
        <title>UmbriaSagre</title>
        <META HTTP-EQUIV="refresh" CONTENT="3; url=/">
        <style id="indexStyle" type="text/css">
            *{
                font-family: Helvetica;
                background: #FFFDDD;
                font-size: 50px;
                color: #4B2D0B;
                text-align: center;
            }
            #bouncerWrapper{
                margin-top:100px;
            }
        </style>
    </head>
    <body id="bouncerBody">
        <div id="bouncerWrapper">
            <div id="bouncerDynamicMessage"><%=message%></div>
            <div id="bouncerStaticMessage">Verrai ora riportato alla home.</div>
        </div>
    </body>
</html>